body {
  font-family: ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	margin: 0;
	background-color: black;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
	background-color: white;
}

.container {
  border-radius:15px;
	background-color: gray;
	margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
  padding-bottom: 15px;
}

button.skill {
  font-weight: bold;
  width: 160px;
  text-align: left;
}

span.badge {
  float: right;
}

#gameover {
	width: 300;
}

#game {
	width: 960px;
}

#wrapper {
  background: black;
  width: auto;
	margin-left: auto;
	margin-right: auto;
}

#side {
  float: left;
  width: auto;
}

.side-content {
  border:0px solid;
  font-size: 1.2em;
  font-weight: bold;
  width: 220px;
  border-radius:15px;
  padding:10px;
  margin:10px;
  background-color: lightgray;
  float: top;
}

td {
  padding-left: 35px;
  text-align: right;
}

.control-panel-elem {
	float: top;
	margin-bottom: 8px;
}

#volume {
  margin-top: 28px;
}

#control-panel {
	float: right;
	margin-top:10px;
  /*
  background-color: lightgray;
	width: 160px;
	border:0px solid;
	border-radius:15px;
	padding:10px;
	margin-right:10px;
  */
}

#main {
	float: left;
	background-color: white;
	border:0px solid;
	border-radius:15px;
	padding:10px;
	margin-left: 10px;
	margin-top: 10px;
}

#gameover {
	text-align: center;
}
