body {
  font-family: ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	margin: 0;
	background-color: black;
}

canvas {
	background-color: white;
}

#container {
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
  padding-bottom: 30px;
}

#side {
  background-color: lightgray;
  font-size: 1.2em;
  font-weight: bold;
  width: 190px;
  float: left;
  border:2px solid;
  border-radius:15px;
  padding:10px;
  margin:10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  padding-left: 35px;
  text-align: right;
}

.control-panel-elem {
	float: top;
	margin-bottom: 8px;
}

#control-panel {
  background-color: lightgray;
	float: left;
	width: 170px;
	border:2px solid;
	border-radius:15px;
	padding:10px;
	margin:10px;
}

#main {
	float: left;
	background-color: white;
	border:0px solid;
	border-radius:15px;
	padding:10px;
	margin:10px;
}

#gameover {
	text-align: center;
}
