<div class="container" id="game" data-ng:controller="AriCtrl" data-ng:init="init()">

<div id="side">
  <div class="side-content">
    <table>
      <tbody>
      <tr><th>健康</th><td>{{user.health}}</td></tr>
      <tr><th>ターン</th><td>{{stats.turnCount}}</td></tr>
      <tr><th>残りクリック</th><td>{{user.clicks}}</td></tr>
      <tr><th>アリの数</th><td>{{ants.count()}}</td></tr>
      </tbody>
    </table>
  </div>
  <div class="side-content">
    <table>
      <tr><th>レベル</th><td>{{user.level}}</td></tr>
      <tr><th>現在の本気度</th><td>{{user.motivation}}</td></tr>
      <tr><th>次のレベルまで</th><td>{{user.levelupRate - user.motivation}}</td></tr>
    </table>
  </div>
</div>

<div id="main">
<canvas data-ng:click="canvasClick($event);" id="myCanvas"></canvas>
</div>

<div id="control-panel">
  <div class="control-panel-elem">
    <button class="skill btn btn-primary" disabled="true">スキルポイント <span class="badge">{{user.skillPoint}}</span></button>
  </div>
  <div class="control-panel-elem">
    <button class="skill ng-class: skillPointStyle();" data-ng:click="eaterUpgrade();" data-ng:class="{{}}" data-ng:disabled="user.skillPoint <= 0">アリクイ {{eaterCount}} 匹 <span class="badge">{{user.eaterUpgrade}}</span></button>
  </div>
  <div class="control-panel-elem">
    <button class="skill ng-class: skillPointStyle();" data-ng:click="specialUpgrade();" data-ng:disabled="user.skillPoint <= 0">必殺技 {{user.specialRate.value * 100 | number:1}} %<span class="badge">{{user.specialUpgrade}}</span></button>
  </div>
  <div class="control-panel-elem">
    <button class="skill ng-class: skillPointStyle();" data-ng:click="crushUpgrade();" data-ng:disabled="user.skillPoint <= 0">通常攻撃 {{user.crushKill.value}} 匹 <span class="badge">{{user.crushUpgrade}}</span></button>
  </div>
  <div class="control-panel-elem">
    <button class="skill ng-class: skillPointStyle();" data-ng:click="defenseUpgrade();" data-ng:disabled="user.skillPoint <= 0">防御 {{user.defense.value}}<span class="badge">{{user.defenseUpgrade}}</span></button>
  </div>
  <div id="volume">
    <button type="button" class="btn btn-default" data-ng:click="volumeToggle();">
      <span class="ng-class: volumeStyle();"></span>
    </button>
  </div>
</div>

</div>
