<div class="container" id="gameover" data-ng:controller="StatsCtrl">
  <h1>GAME OVER</h1>
  <table><tbody>
    <tr><td>ターン数</td><td>{{stats.turnCount}}</td></tr>
    <tr><td>クリック数</td><td>{{stats.clickCount}}</td></tr>
    <tr><td>ミスクリック数</td><td>{{stats.missCount}}</td></tr>
    <tr><td>必殺回数</td><td>{{stats.specialCount}}</td></tr>
    <tr><td>駆除したアリ</td><td>{{stats.killCount}}</td></tr>
    <tr><td>普通に潰したアリ</td><td>{{stats.crushCount}}</td></tr>
    <tr><td>必殺で潰したアリ</td><td>{{stats.specialCrushCount}}</td></tr>
    <tr><td>食べたアリ</td><td>{{stats.eatCount}}</td></tr>
  </tbody></table>
</div>

